<header role="banner" class="event_header">
  <img src="/drupal/themes/custom/e3/logo.svg" alt="Home" class="page_logo" />
<div class="strip_wrapper">
  <div class="strip"></div>
</div>
  <nav class="event_nav">
    <a href="#" class="event_nav_links">About Us</a>
    <a href="#" class="event_nav_links">The Music</a>
    <a href="#" class="event_nav_links">Programs</a>
    <a href="#" class="event_nav_links">Events</a>
    <a href="#" class="event_nav_links">Support Us</a>
  </nav>

</header>
<div class="center_event">
  <div class="img_wrapper">
      <img class="jumbo_img" src="/drupal/themes/custom/e3/Assets/studio.jpg">
  </div>
<div class="jumbo_title">
    <h1 class="center_title">Events</h1>
    <p class="center_disctription">Join us at any of our public events to experience the impact of Youth on Record firsthand.</p>
</div>

</div>
    <main role="main">

      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        {{ page.content }}
      </div>{# /.layout-content #}

    </main>
  {{ page.header }}
